modules = ["go", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Go Legal Documents API"

[[workflows.workflow]]
name = "Go Legal Documents API"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "MONGODB_CONNECTION_STRING=\"mongodb+srv://mevzuatgpt_db_user:SA7RPAnD0qOfe5jR@cluster0.hex24bc.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0\" MONGODB_DATABASE=\"mevzuatgpt\" MONGODB_METADATA_COLLECTION=\"metadata\" MONGODB_CONTENT_COLLECTION=\"content\" PORT=\"5000\" go run main.go"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36305
externalPort = 3000
